@use "./variables"as varl;
@use './base'as base;
@use '../parts/components'as components;

html {
    .header-logo {

        img {
            @include varl.respond-sp {
                width: 2rem;
                height: auto;
            }
        }
    }


    .top-header {
        @include varl.respond-sp {
            min-width: 100vw;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 99;
        }
    }

    .navigation-top {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            min-height: 1.12rem;
        }

    }

    .nav-button {
        @include varl.respond-sp {
            font-size: .14rem;
        }
    }

    .header-nav {
        @include varl.respond-sp {
            display: none;
        }
    }


    .hamburger-menu {
        @include varl.respond-sp {
            display: flex;
        }
    }


    // Keyvisual section


    .banner-top-keyvisual {

        @include varl.respond-sp {
            margin: 1.12rem auto 104px;
            width: calc(100vw - .6rem);
            position: static;
            min-height: 1rem;
        }
    }

    .bg-top-keyvisual {
        @include varl.respond-sp {
            background-size: auto 100%;
            min-height: 2.75rem;
            height: auto;
            background-position: right;
            margin-bottom: .3rem;
        }
    }

    .content-top-keyvisual {
        @include varl.respond-sp {
            position: static;
            transform: translateY(0);
        }
    }

    .title-top-keyvisual {
        .title-icon-keyvisual {
            @include varl.respond-sp {
                width: .3rem;
                height: .3rem;
                margin-right: .07rem;
            }

        }

        @include varl.respond-sp {
            font-size: .3rem;
            line-height: normal;
            margin-bottom: .16rem;
            color: varl.$text-dark;
            margin-bottom: .16rem;


        }
    }

    .description-top-keyvisual {
        @include varl.respond-sp {
            font-size: .16rem;
            line-height: .2rem;
            color: #6b7280;
        }
    }

    .button-top-list {
        @include varl.respond-sp {
            flex-direction: column;
            gap: 0;
        }
    }

    .button-top-keyvisual {
        @include varl.respond-sp {
            color: varl.$text-dark;
            font-size: .16rem;
            min-width: 1.64rem;
            padding: .16rem 0 .16rem .91rem;
        }

        &::before {
            @include varl.respond-sp {
                background-color: varl.$text-dark;
                width: .39rem;
                height: .01rem;
            }
        }

        &::after {
            @include varl.respond-sp {
                color: varl.$text-dark;
                background-image: url("../img/top/icon/header_icon_play_dark.png");
                background-size: .24rem .24rem;
                width: .24rem;
                height: .24rem;
                left: .55rem;
            }
        }
    }

    .button-common-contract {
        @include varl.respond-sp {
            margin-bottom: .32rem;

            &::after {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .clients-top-keyvisual {
        @include varl.respond-sp {
            flex-direction: column;
            width: 100vw;
        }


    }

    .heading-top-clients {
        .title-clients {
            @include varl.respond-sp {
                width: calc(100vw - .6rem);
                margin: auto;
                font-size: .26rem;
                margin-bottom: .16rem;
            }
        }

        .description-clients {
            @include varl.respond-sp {
                width: calc(100vw - .6rem);
                margin: auto;
            }
        }
    }

    .list-clients {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            margin: auto;
            gap: .1rem;
            min-height: 100%;
        }

        .logo-clients {
            &:first-child {
                @include varl.respond-sp {
                    margin-bottom: .1rem;
                }
            }


        }
    }


    //- Case Study

    .section-top-casestudy {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            margin: auto;

        }
    }

    .block-common-casestudy {
        p {
            margin-bottom: .3rem;
        }
    }

    .casestudy-heading {
        @include varl.respond-sp {
            flex-direction: column;
            margin-bottom: .3rem;
        }
    }

    .casestudy-item-title {
        @include varl.respond-sp {
            font-size: .2rem;
            margin-bottom: .18rem;
        }
    }


    .casestudy-item-action {
        @include varl.respond-sp {
            background-size: .24rem .24rem;
            padding-right: .32rem;
            font-size: .16rem;
        }
    }

    .casestudy-content-list {
        li {
            figure {
                @include varl.respond-sp {
                    width: 100%;
                    height: auto;
                }

                img {
                    @include varl.respond-sp {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &::before {
                @include varl.respond-sp {
                    height: auto;
                    opacity: 1;
                }
            }
        }
    }

    .casestudy-content-tag {
        li {
            &::before {
                @include varl.respond-sp {
                    background: transparent;
                }
            }
        }
    }

    .casestudy-content {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            height: auto;
        }
    }




    .casestudy-slide-content {
        @include varl.respond-sp {
            opacity: 1;
        }
    }

    // Services


    .section-top-services {
        @include varl.respond-sp {
            width: 100%;
            height: auto;
        }
    }

    .block-common-seervices {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            height: auto;
            margin: auto;
        }

    }

    .services-image {
        @include varl.respond-sp {
            img {
                width: 3.44rem;
                height: 2.48rem;
            }
        }
    }

    .title-list-services {
        @include varl.respond-sp {
            font-size: .2rem;
        }
    }

    .list-top-services {
        li {
            @include varl.respond-sp {
                max-width: 100%;
                margin: auto;
                padding: .3rem;
                width: auto;
            }


            p {
                @include varl.respond-sp {
                    font-size: .14rem;
                    margin-bottom: 22px;
                    line-height: .20rem;
                }
            }
        }


        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            flex-direction: column;
            margin: auto;
            gap: .3rem;
        }
    }


    .button-list-service {
        @include varl.respond-sp {
            font-size: .16rem;
            line-height: .24rem;
        }

        &::after {
            @include varl.respond-sp {
                background-size: .24rem .24rem;
                right: -0.36rem;
                width: .32rem;
                height: .24rem;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            width: 100%;
            min-width: 187px;
            height: 2px;
            bottom: -8px;
            background-color: #236C44;
            opacity: 0;
            transition: all .25s ease;
        }
    }

    // Stats

    .section-top-stats {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
        }
    }

    .list-top-stats {
        @include varl.respond-sp {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: .3rem;
        }


        li {
            @include varl.respond-sp {
                padding-top: .1rem;
                width: auto;
            }

            &:not(:last-child)::after {
                @include varl.respond-sp {
                    width: 100%;
                    height: .01rem;
                    bottom: 0;
                    top: auto;
                    margin-right: 0;
                    margin-bottom: -0.06rem;
                }
            }

            &:nth-child(3)::after {
                opacity: 0;
            }
        }

        p {
            @include varl.respond-sp {
                font-size: .14rem !important;
            }
        }
    }


    .icon-list-stats {
        img {
            @include varl.respond-sp {
                margin-bottom: .12rem;
            }

        }
    }

    .title-list-stats {
        @include varl.respond-sp {
            font-size: .26rem;
        }

    }



    // Testimonial
    .section-top-testimonial {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            flex-direction: column;
            gap: .3rem;
        }

    }

    .block-common-testimonial {
        @include varl.respond-sp {
            width: 100%;
            margin: auto;
        }
    }

    .testimonial-video {
        img {
            @include varl.respond-sp {
                margin: auto;
            }
        }
    }

    .testimonial-feedback {
        @include varl.respond-sp {
            background-size: auto 100%;
            font-size: .15rem;
            line-height: .2rem;
            padding: .2rem;
            padding: 1rem .3rem .5rem;
            min-height: 100%;
            margin-bottom: .16rem;
            border-radius: .16rem;
        }

    }

    .button-top-testimonial {
        @include varl.respond-sp {
            bottom: 0;
        }
    }

    .testimnial-item {
        @include varl.respond-sp {
            min-height: 4rem;
        }
    }

    .testimonial-client-info {
        p {
            @include varl.respond-sp {
                font-size: .14rem;
            }

        }
    }

    .testimonial-client-name {
        @include varl.respond-sp {
            font-size: .16rem;
        }
    }



    .testimonial-slider {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            min-height: 100%;
            margin: auto;
        }

    }

    // Contact

    .section-top-contact {
        @include varl.respond-sp {
            width: calc(100vw - .6rem);
            margin: 1rem auto;
            flex-direction: column;
            padding: .3rem;
        }

    }

    .contact-list {
        li {
            @include varl.respond-sp {
                width: 100%;
                height: auto;
                padding: .22rem;
            }
        }


        img {
            @include varl.respond-sp {
                width: .26rem;
                height: .26rem;
            }
        }
    }

    .title-info {
        @include varl.respond-sp {
            font-size: .12rem;
        }
    }

    .list-title {
        a {
            @include varl.respond-sp {
                font-size: .16rem;
            }
        }

    }

    // Footer

    .footer-logo {
        img {
            @include varl.respond-sp {
                min-width: 2.3rem;
                min-height: .48rem;
                margin-bottom: .24rem;

            }

        }
    }

    .footer-common {
        @include varl.respond-sp {
            flex-direction: column;
            width: calc(100vw - .6rem);
        }
    }

    .footer-list {
        @include varl.respond-sp {
            flex-direction: column;
            gap: .2rem;

        }

        li {

            @include varl.respond-sp {
                text-align: center;
                margin: .2rem 0;
            }

            a {
                @include varl.respond-sp {
                    text-align: center;
                    font-size: .18rem;
                }
            }

        }
    }

    .footer-address {
        span {
            @include varl.respond-sp {
                font-size: .18rem;
            }
        }
    }

    .footer-copyright {
        @include varl.respond-sp {
            font-size: .16rem;
            padding: .3rem 0;
        }
    }

}