doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Top Page
        link(rel="stylesheet" href="css/top.css")
        link(rel="stylesheet" href="https://fonts.cdnfonts.com/css/inter" )
    body
        header
            .top-header 
                .navigatio-top
                    //- Navigation
                    a.header-logo
                        img(src="./img/common/header_logo.png" alt="Jamel Eusebio" width="230" height="48" loading="eager")
                    nav.header-nav
                        ul.header-links
                            li
                                a.header-link-item.active(href="#Home")  Home 
                            li 
                                a.header-link-item(href="#Project") Project
                            li 
                                a.header-link-item(href="#Services") Services 
                            li 
                                a.header-link-item(href="#Resume") Resume 
                            li  
                                a.header-link-item(href="#Testimonial") Testimonial 
                            li 
                                a.header-link-item(href="#About") About 
                            li 
                                a.header-link-item(href="#Article") Article
                        a.nav-button.trans(href="#") CONTRACT

        main
            //- Keyvisual
            section.section-top-keyvisual
                .banner-top-keyvisual 
                    h1.title-top-keyvisual 
                        span
                            img.title-icon-keyvisual(src="./img/top/icon/header-icon-hand.png" alt="Hey, I’m Jamel Full-Stack Developer" loading="eager" width="64" height="59") 
                        | Hey, I’m Jamel Full-Stack Developer.
                    p.description-top-keyvisual Full Stack Frontend Developer and Content Writing Based on LA. I specialize in Bug Fixing, Responsive Web Design, and Visual Development.
                    ul.button-top-list
                        li
                            a.button-common-contract(href="#") HIRE ME 
                        li 
                            a.button-top-keyvisual.trans(href="#") Play Intro
                .clients-top-keyvisual
                    .heading-top-clients 
                        h2.title-clients I work with over 279+ happy clients all over the world.
                        p.description-clients Suspendisse eget ultricies felis, in lacinia lectus. Morbi accumsan dapibus tortor, in fermentum odio malesuada in aliquam sed ipsum tristique.
                    ul.list-clients 
                        li.item-clients
                            figure.logo-clients
                                img(src="../img/top/icon/keyvisual-icon-amazon.png" alt="amazon" width="200" height="64" loading="lazy")
                            figure.logo-clients
                                img(src="../img/top/icon/keyvisual-icon-dribbble.png" alt="dribbble" width="200" height="64" loading="lazy")
                        li.item-clients
                            figure.logo-clients.active
                                img(src="../img/top/icon/keyvisual-icon-google.png" alt="google" width="200" height="64" loading="lazy")
                            figure.logo-clients
                                img(src="../img/top/icon/keyvisual-icon-microsoft.png" alt="microsoft" width="200" height="64" loading="lazy")
                        li.item-clients
                            figure.logo-clients
                                img(src="../img/top/icon/keyvisual-icon-spotify.png" alt="spotify" width="200" height="64" loading="lazy")
                            figure.logo-clients
                                img(src="../img/top/icon/keyvisual-icon-linkedin.png" alt="linkedin" width="200" height="64" loading="lazy")









