@use 'base/variables'as variables;

@mixin button-common-primary($padding: 15px 68px 15px 32px) {
    position: relative;
    display: inline-block;
    padding: $padding;
    background-color: variables.$primary-color;
    color: variables.$text-dark;
    border-radius: 6px;
    cursor: pointer;
    transition: all .25s ease;
    font-size: 16px;
    font-weight: variables.$font-weight-bold;

    @include variables.respond-sp {
        font-size: .16rem;
        padding: .15rem .68rem .15rem .32rem;
    }

    &:hover {
        opacity: .8;
    }

    &::after {
        position: absolute;
        right: 32px;
        content: "";
        background-image: url("../img/common/icon/icon_common_button.png");
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        background-position-y: center;
        background-repeat: no-repeat;

        @include variables.respond-sp {
            background-size: .24rem .24rem;
            width: .24rem;
            height: .24rem;
        }
    }
}

@mixin button-common-secondary($padding: 15px 68px 15px 32px) {

    button {
        background: #fff;
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid variables.$primary-color;
        color: variables.$text-dark;
        cursor: pointer;
        transition: all .25s ease;

        @include variables.respond-sp {
            width: .48rem;
            height: .48rem;
        }


        &:first-child {
            margin-right: 10px;
        }


        img {
            margin: auto;

            @include variables.respond-sp {
                width: .24rem;
                height: .24rem;
            }
        }

        &:hover {
            background-color: variables.$primary-color;
        }
    }
}


@mixin button-common-darkmode() {
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    width: 48px;
    height: 48px;
    background-color: #1777E5;
    border-radius: 50%;
    border: none;
    z-index: 999;

    @include variables.respond-sp {
        width: .48rem;
        height: .48rem;
    }


    cursor: pointer;
    transition: all .25s ease;

    img {
        margin: auto;

        @include variables.respond-sp {
            width: .24rem;
            height: .24rem;
        }
    }

    &:hover {
        opacity: .8;
    }
}

@mixin block-common($title-color: variables.$text-dark, $p-color: #3E5985) {

    h2 {
        color: $title-color;
        font-weight: variables.$font-weight-bold;
        font-size: 48px;
        margin-bottom: 24px;

        @include variables.respond-sp {
            text-align: center;
            font-size: .4rem;
            margin-bottom: .16rem;
            // line-height: .5rem;
        }
    }

    p {
        color: $p-color;
        font-weight: variables.$font-weight-regular;
        font-size: 20px;
        line-height: 28px;

        @include variables.respond-sp {
            text-align: center;
            line-height: .24rem;
            font-size: .16rem;
            margin-bottom: .3rem;
        }
    }
}